#note {

background-color:lightgray;
color:purple; 
display:block; 
height:100%; 
padding:10px;
margin:10px;

}

#warning {

background-color:lightyellow;
color:black; 
display:block; 
height:100%; 
padding:10px;
margin:10px;

}

#imagec {

text-align:center; 
display:block;

}

#imagef {

display:block; 
float:right;

}

#caption {

background-color:lightblue; 
color:gray; 
display:block; 
height:100%; 
padding:10px;
margin:10px;

}